/** ------------------------------------------------------------------------- */


/** 2163 */

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #ee6e73;
}
footer.page-footer .footer-copyright {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  background-color: #ea454b;
  ;
}

/** 5057 */

nav {
  color: #FFFFFF;
  background-color: #ee6e73;
  width: 100%;
  height: 56px;
  line-height: 56px;
  overflow: hidden;
}
nav a {
  color: #FFFFFF;
}
nav .nav-wrapper {
  position: relative;
  height: 100%;
}
nav .nav-wrapper i {
  font-size: 2rem;
}

/**  @media only screen and (min-width : 993px) {
    nav a.button-collapse {
      display: none; }
 } */

nav a.button-collapse {
  float: left;
  position: relative;
  z-index: 999;
  height: 56px;
  color: #FFFFFF;
}
nav a.button-collapse i {
  font-size: 2.7rem;
  height: 56px;
  line-height: 56px;
}
nav .brand-logo {
  position: absolute;
  color: #FFFFFF;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}
.card .card-content p {
  margin: 0 0 10px 0;
  color: inherit;
}
nav .brand-logo.center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/** 5123 */

nav ul a {
  font-size: 1rem;
  color: #FFFF;
  display: inline-block;
  padding: 0 15px;
}

/** 5208 */

html {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
}
@media only screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 14.5px;
  }
}
@media only screen and (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

/** materialize.css 5478
*
* This is important because if it is not accessible but visible it looks like a
* menu button that doesn't work for mobile. This issue was resolved with this
* file's at 33 nav a.button-collapse {z-index: 999}
* However the side-nav is still jacked too high off screen...
*
*/

.mdi-navigation-menu:before {
  content: "\e8a1";
}

/**
*
* header.php 73
* page-components.php 527
* <a class="button-collapse" href="#" data-activates='nav-mobile'><i class="mdi-navigation-menu"></i></a>
*
* page-components.php 547
* <pre><code class="language-markup col s12">
*   &lt;nav>
*     &lt;div class="nav-wrapper">
*       &lt;a href="#" class="brand-logo">Logo&lt;/a>
*         &lt;ul id="nav-mobile" class="right side-nav">
*           &lt;li>&lt;a href="sass.html">Sass&lt;/a>&lt;/li>
*             &lt;li>&lt;a href="components.html">Components&lt;/a>&lt;/li>
*           &lt;li>&lt;a href="javascript.html">JavaScript&lt;/a>&lt;/li>
*         &lt;/ul>
* ====> &lt;a class="button-collapse" href="#" data-activates="nav-mobile">&lt;i class="mdi-navigation-menu">&lt;/i>&lt;/a>
*     &lt;/div>
*   &lt;/nav>
* </code></pre>
*
* page-components.php 527
* <nav>
*   <div class="nav-wrapper">
*     <div class="col s12">
*       <a href="#!" class="brand-logo right">Logo</a>
* =====> <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
*         <ul class="left side-nav">
*         <li><a href="sass.html">Sass</a></li>
*         <li><a href="components.html">Components</a></li>
*         <li><a href="javascript.html">JavaScript</a></li>
*       </ul>
*     </div>
*   </div>
* </nav>
*
* page-comnents.php 570
*
* <pre><code class="language-markup col s12">
*   &lt;nav>
*     &lt;div class="nav-wrapper">
*       &lt;a href="#" class="brand-logo right">Logo&lt;/a>
*         &lt;ul id="nav-mobile" class="left side-nav">
*           &lt;li>&lt;a href="sass.html">Sass&lt;/a>&lt;/li>
*             &lt;li>&lt;a href="components.html">Components&lt;/a>&lt;/li>
*           &lt;li>&lt;a href="javascript.html">JavaScript&lt;/a>&lt;/li>
*         &lt;/ul>
* ====> &lt;a class="button-collapse" href="#" data-activates="nav-mobile">&lt;i class="mdi-navigation-menu">&lt;/i>&lt;/a>
*     &lt;/div>
*   &lt;/nav>
* </code></pre>
*/


/** 5696 */

.btn, .btn-large {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: 0.5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.btn:hover, .btn-large:hover {
  background-color: #2bbbad;
}
.btn-floating {
  display: inline-block;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  width: 37px;
  height: 37px;
  line-height: 37px;
  padding: 0;
  background-color: #26a69a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.btn-floating i {
  width: inherit;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  font-size: 1.6rem;
  line-height: 37px;
}
.btn-floating.btn-large {
  width: 55.5px;
  height: 55.5px;
}
.btn-floating.btn-large i {
  line-height: 55.5px;
}

/** 5813 */

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/** 6754 */

ul.side-nav {
  position: fixed;
  width: 240px;
  left: -105%;
  top: 0;
  margin: 0;
  height: 100%;
  height: calc(100% + 60px);
  padding-bottom: 60px;
  background-color: #FFF;
  z-index: 999;
  will-change: left;
}
ul.side-nav.right-aligned {
  will-change: right;
  right: -105%;
  left: auto;
}
ul.side-nav .collapsible {
  margin: 0;
}
ul.side-nav li {
  float: none;
  padding: 0 15px;
}
ul.side-nav li:hover, ul.side-nav li.active {
  background-color: #ddd;
}
ul.side-nav a {
  color: #444;
}

/** ------------------------------------------------------------------------- */

@media only screen and (max-width: 1170px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}

/**  @media only screen and (min-width : 993px) {
    nav a.button-collapse {
      display: none; }
 } */

@media only screen and (min-width: 1169px) {
  nav a.button-collapse {
    display: none;
  }
}

@media  only screen and (max-width: 1169px) {
  .waves-effect {
    display: block;
  }
  nav .brand-logo {
    top: 35px;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
  }
}
@media only screen and (min-width: 1169px) {
  nav .nav-wrapper {
    position: relative;
    top: 10px;
    height: 100%;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 992px) {

}
@media only screen and (min-width: 601px) {
  nav .brand-logo {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  nav .brand-logo {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 475px) {
  nav .brand-logo {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 375px) {
  nav .brand-logo {
    font-size: 1.25rem;
    text-align: right;
  }
}
article ul {
  list-style-type: disc;
  margin-bottom: 15px;
}
article li {
  list-style-type: circle;
  margin-bottom: 15px;
}
article ul > li {
  list-style-type: circle;
  margin-bottom: 20px;
}
article ul li {
  list-style-type: circle;
  margin-left: 15px;
}

/**--------------------------------------------------------------------------*/

mycode, mypre {
  display: flex;
  box-sizing: border-box;
  padding: 5px 5px 15px;
}
mycode {
  display: flex;
  box-sizing: border-box;
  border-radius: 10px 10px 20px 20px;
  margin: 0 0 20px;
  width: 100%;
  background: #000000;
  font: normal 16px/1.25 "Lucida Console", "Lucida Typewriter", "TI uni", Monaco, "New Courier", Courier, Serif, "Sans-Serif";
  font: normal;
  color: #32CD32;
  overflow: scroll;
  border-collapse: collapse;
  white-space: nowrap;
}

/**
code:hover {
	border-radius: 10px 10px 5px 5px;
}
*/

mypre {
  margin: 1%;
  border: solid 1px #000000;
  border-radius: 7px;
  /** background: #FFE4B5; */
  /**	background: #FFEBCD; */
  /**	background: #FAEBD7; */
}

/** ------------------------------------------------------------------------ */
