.footer-widget {
  color: #FFFFFF;
}

h5 .footer-widget {
  color: #FFFFFF;
}

/**--------------------------------------------------------------------------*/
code, pre {
	display: flex;
	box-sizing: border-box;
	padding: 5px 5px 15px;
}

code {
	display: flex;
	box-sizing: border-box;
	border-radius: 10px 10px 20px 20px;
	margin: 0 0 20px;
	width: 100%;
	background: #000000;
	font: normal 16px/1.25 "Lucida Console", "Lucida Typewriter", "TI uni", Monaco, "New Courier", Courier, Serif, "Sans-Serif";
	font: normal;
	color: #32CD32;
	overflow: scroll;
	border-collapse: collapse;
	white-space: nowrap;
}

/**
code:hover {
	border-radius: 10px 10px 5px 5px;
}
*/
pre {
	margin: 1%;
	border: solid 1px #000000;
	border-radius: 7px;
/** background: #FFE4B5; */
/**	background: #FFEBCD; */
/**	background: #FAEBD7; */
}

/** ------------------------------------------------------------------------ */
